{% extends "sistersonly/base.html" %}

{% block title %}Your Personal Record &ndash; {% endblock %}

{% block main %}

<div class="content">
  <table class="data-table">
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Points</th>
      <th>Your Attendance</th>
    </tr>
  {% for event in events %}
    <tr>
      <td><a href="{{ event.id }}/">{{ event.name }}</a></td>
      <td>{{ event.date }}</td>
      <td>{{ event.points }}</td>
      <td>{% if sister in event.sisters %}
            Present
          {% else %}
            {% if sister in event.sisters_excused %}
              Excused
            {% else %}
              {% if sister in event.sisters_absent %}
                Absent
              {% else %}
                Didn't Need To Attend
              {% endif %}
            {% endif %}
          {% endif %}</td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
